kbd {
  color: #404040;
  margin: 0;
  padding: 0 0.5em;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

pre, code {
  color: #930;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
pre {
  overflow: auto;
  padding: 0 0 0 2em;
}
pre > code {
  margin:0;
  display: block;
  word-wrap: normal;
}

pre.block
{
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid lightgray;
    color: #666;
    page-break-inside: avoid;
    font-family:  "Courier New", Courier, monospace;
    font-size: 0.8em;
    line-height: 1.2;
    margin-bottom: 1.2em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}

code.inset {
  margin: 0 0.2em;
  padding: 0;
  color: #930;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

code.error {
  margin: 0 0.2em;
  padding: 0.2em;
  color: #FFF;
  background-color: #800000;
  font-family: "Courier New", Courier, monospace;
}

code.msg {
  margin: 0;
  padding: 0.2em;
  color: #fff;
  background-color: #000;
  font-family: "Courier New", Courier, monospace;
}

h2.article {
  font-size:1.1em;
  font-weight:bold;
  border-bottom:1px solid lightgray;
  border-left:6px solid lightgray;
  padding:0 0 3px 5px;
}

p.item {
  padding:5px;
  margin:0;
  border-left:1px solid;
}

.highlight {
  color:#1D1F21;
  background-color:#FDAD00;
}
