kbd {
  color: #404040;
  margin: 0;
  padding: 0 0.5em;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

pre, code {
  color: #930;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
pre {
  overflow: auto;
  padding: 0 0 0 2em;
}
pre > code {
  margin:0;
  display: block;
  word-wrap: normal;
}

code.inset {
  margin: 0 0.2em;
  padding: 0;
  color: #930;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

code.error {
  margin: 0 0.2em;
  padding: 0.2em;
  color: #FFF;
  background-color: #800000;
  font-family: "Courier New", Courier, monospace;
}

code.msg {
  margin: 0;
  padding: 0.2em;
  color: #fff;
  background-color: #000;
  font-family: "Courier New", Courier, monospace;
}

h2.article {
  font-size:1.1em;
  font-weight:bold;
  border-bottom:1px solid lightgray;
  border-left:6px solid lightgray;
  padding:0 0 3px 5px;
}

p.item {
  padding:5px;
  margin:0;
  border-left:1px solid;
}
