kbd {
  color: #404040;
  margin: 0;	
  padding: 0 0.5em;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
code.inset {
  margin: 0 0.2em;
  padding: 0;
  color: #930;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

